    <div class="col-md-8">

            <div class="card mb-4">
            <img class="card-img-top" src="IMG_0019.JPG" alt="Card image cap" height="300" width="700">
            <div class="card-body">
                <h2 class="card-title">Post Title</h2>
                <p class="card-text scroller">Some dogs are doggos, some are puppers, and others may even be pupperinos. There are corgos and clouds, fluffers and floofs, woofers and boofers. The chunky ones are thicc, and the thin ones are long bois. When they stick out their tongues, they're doing a mlem, a blep, a blop. They bork. They boof. Once in a while they do each other a frighten. And whether they're 10/10 or 12/10, they're all h*ckin' good boys and girls.
                    Some dogs are doggos, some are puppers, and others may even be pupperinos. There are corgos and clouds, fluffers and floofs, woofers and boofers. The chunky ones are thicc, and the thin ones are long bois. When they stick out their tongues, they're doing a mlem, a blep, a blop. They bork. They boof. Once in a while they do each other a frighten. And whether they're 10/10 or 12/10, they're all h*ckin' good boys and girls.
                    Some dogs are doggos, some are puppers, and others may even be pupperinos. There are corgos and clouds, fluffers and floofs, woofers and boofers. The chunky ones are thicc, and the thin ones are long bois. When they stick out their tongues, they're doing a mlem, a blep, a blop. They bork. They boof. Once in a while they do each other a frighten. And whether they're 10/10 or 12/10, they're all h*ckin' good boys and girls.
                </p>
            </div>
            <div class="card-footer text-muted">
                Posted on  November 19, 2017
            </div>
        </div>

        <div class="card mb-4">
            <img class="card-img-top" src="IMG_0019.JPG" alt="Card image cap" height="300" width="700">

            <div class="card-body">
                <h2 class="card-title">Post Title</h2>
                <p class="card-text scroller">Some dogs are doggos, some are puppers, and others may even be pupperinos. There are corgos and clouds, fluffers and floofs, woofers and boofers. The chunky ones are thicc, and the thin ones are long bois. When they stick out their tongues, they're doing a mlem, a blep, a blop. They bork. They boof. Once in a while they do each other a frighten. And whether they're 10/10 or 12/10, they're all h*ckin' good boys and girls.
                    Some dogs are doggos, some are puppers, and others may even be pupperinos. There are corgos and clouds, fluffers and floofs, woofers and boofers. The chunky ones are thicc, and the thin ones are long bois. When they stick out their tongues, they're doing a mlem, a blep, a blop. They bork. They boof. Once in a while they do each other a frighten. And whether they're 10/10 or 12/10, they're all h*ckin' good boys and girls.
                    Some dogs are doggos, some are puppers, and others may even be pupperinos. There are corgos and clouds, fluffers and floofs, woofers and boofers. The chunky ones are thicc, and the thin ones are long bois. When they stick out their tongues, they're doing a mlem, a blep, a blop. They bork. They boof. Once in a while they do each other a frighten. And whether they're 10/10 or 12/10, they're all h*ckin' good boys and girls.
                </p>
            </div>
            <div class="card-footer text-muted">
                Posted on  November 19, 2017
            </div>
        </div>

        <div class="card mb-4">
            <img class="card-img-top" src="IMG_0019.JPG" alt="Card image cap" height="300" width="700">
            <div class="card-body">
                <h2 class="card-title">Post Title</h2>
                <p class="card-text scroller">Some dogs are doggos, some are puppers, and others may even be pupperinos. There are corgos and clouds, fluffers and floofs, woofers and boofers. The chunky ones are thicc, and the thin ones are long bois. When they stick out their tongues, they're doing a mlem, a blep, a blop. They bork. They boof. Once in a while they do each other a frighten. And whether they're 10/10 or 12/10, they're all h*ckin' good boys and girls.
                    Some dogs are doggos, some are puppers, and others may even be pupperinos. There are corgos and clouds, fluffers and floofs, woofers and boofers. The chunky ones are thicc, and the thin ones are long bois. When they stick out their tongues, they're doing a mlem, a blep, a blop. They bork. They boof. Once in a while they do each other a frighten. And whether they're 10/10 or 12/10, they're all h*ckin' good boys and girls.
                    Some dogs are doggos, some are puppers, and others may even be pupperinos. There are corgos and clouds, fluffers and floofs, woofers and boofers. The chunky ones are thicc, and the thin ones are long bois. When they stick out their tongues, they're doing a mlem, a blep, a blop. They bork. They boof. Once in a while they do each other a frighten. And whether they're 10/10 or 12/10, they're all h*ckin' good boys and girls.</p>
            </div>
            <div class="card-footer text-muted">
                Posted on  November 19, 2017
            </div>
        </div>
    </div>
