<div class="card">
    <img class="card-img-top" src="IMG-0874.JPG" alt="Card image cap">
    </div>
        <section class="movies" id="movies">
            <h2>Resources</h2>
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <article class="card">
                        <header class="title-header">
                            <h3>My Walk Schedule</h3>
                        </header>
                        <div class="card-block">
                            <a href="Slippy_preview.png" class="btn btn-primary btn-block" download><i class="fa fa-eye"></i> Download</a>
                        </div>
                    </article>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <article class="card">
                        <header class="title-header">
                            <h3>My Sleep Schedule</h3>
                        </header>
                        <div class="card-block">
                            <a href="Slippy_preview.png" class="btn btn-primary btn-block" download><i class="fa fa-eye"></i> Download</a>
                        </div>
                    </article>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <article class="card">
                        <header class="title-header">
                            <h3>My Eat Schedule</h3>
                        </header>
                        <div class="card-block">
                            <a href="Slippy_preview.png" class="btn btn-primary btn-block" download><i class="fa fa-eye"></i> Download</a>
                        </div>
                    </article>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <article class="card">
                        <header class="title-header">
                            <h3>My Poop Schedule</h3>
                        </header>
                        <div class="card-block">
                            <a href="Slippy_preview.png" class="btn btn-primary btn-block" download><i class="fa fa-eye"></i> Download</a>
                        </div>
                    </article>
                </div>
               <!--_______________________________________-->
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <article class="card">
                        <header class="title-header">
                            <h3>My Walk Schedule</h3>
                        </header>
                        <div class="card-block">
                            <a href="Slippy_preview.png" class="btn btn-primary btn-block" download><i class="fa fa-eye"></i> Download</a>
                        </div>
                    </article>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <article class="card">
                        <header class="title-header">
                            <h3>My Sleep Schedule</h3>
                        </header>
                        <div class="card-block">
                            <a href="Slippy_preview.png" class="btn btn-primary btn-block" download><i class="fa fa-eye"></i> Download</a>
                        </div>
                    </article>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <article class="card">
                        <header class="title-header">
                            <h3>My Eat Schedule</h3>
                        </header>
                        <div class="card-block">
                            <a href="Slippy_preview.png" class="btn btn-primary btn-block" download><i class="fa fa-eye"></i> Download</a>
                        </div>
                    </article>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <article class="card">
                        <header class="title-header">
                            <h3>My Poop Schedule</h3>
                        </header>
                        <div class="card-block">
                            <a href="Slippy_preview.png" class="btn btn-primary btn-block" download><i class="fa fa-eye"></i> Download</a>
                        </div>
                    </article>
                </div>
                <!--_______________________________________-->
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <article class="card">
                        <header class="title-header">
                            <h3>My Walk Schedule</h3>
                        </header>
                        <div class="card-block">
                            <a href="Slippy_preview.png" class="btn btn-primary btn-block" download><i class="fa fa-eye"></i> Download</a>
                        </div>
                    </article>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <article class="card">
                        <header class="title-header">
                            <h3>My Sleep Schedule</h3>
                        </header>
                        <div class="card-block">
                            <a href="Slippy_preview.png" class="btn btn-primary btn-block" download><i class="fa fa-eye"></i> Download</a>
                        </div>
                    </article>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <article class="card">
                        <header class="title-header">
                            <h3>My Eat Schedule</h3>
                        </header>
                        <div class="card-block">
                            <a href="Slippy_preview.png" class="btn btn-primary btn-block" download><i class="fa fa-eye"></i> Download</a>
                        </div>
                    </article>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <article class="card">
                        <header class="title-header">
                            <h3>My Poop Schedule</h3>
                        </header>
                        <div class="card-block">
                            <a href="Slippy_preview.png" class="btn btn-primary btn-block" download><i class="fa fa-eye"></i> Download</a>
                        </div>
                    </article>
                </div>
                <!--_______________________________________-->
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <article class="card">
                        <header class="title-header">
                            <h3>My Walk Schedule</h3>
                        </header>
                        <div class="card-block">
                            <a href="Slippy_preview.png" class="btn btn-primary btn-block" download><i class="fa fa-eye"></i> Download</a>
                        </div>
                    </article>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <article class="card">
                        <header class="title-header">
                            <h3>My Sleep Schedule</h3>
                        </header>
                        <div class="card-block">
                            <a href="Slippy_preview.png" class="btn btn-primary btn-block" download><i class="fa fa-eye"></i> Download</a>
                        </div>
                    </article>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <article class="card">
                        <header class="title-header">
                            <h3>My Eat Schedule</h3>
                        </header>
                        <div class="card-block">
                            <a href="Slippy_preview.png" class="btn btn-primary btn-block" download><i class="fa fa-eye"></i> Download</a>
                        </div>
                    </article>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <article class="card">
                        <header class="title-header">
                            <h3>My Poop Schedule</h3>
                        </header>
                        <div class="card-block">
                            <a href="Slippy_preview.png" class="btn btn-primary btn-block" download><i class="fa fa-eye"></i> Download</a>
                        </div>
                    </article>
                </div>
                <!--_______________________________________-->
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <article class="card">
                        <header class="title-header">
                            <h3>My Walk Schedule</h3>
                        </header>
                        <div class="card-block">
                            <a href="Slippy_preview.png" class="btn btn-primary btn-block" download><i class="fa fa-eye"></i> Download</a>
                        </div>
                    </article>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <article class="card">
                        <header class="title-header">
                            <h3>My Sleep Schedule</h3>
                        </header>
                        <div class="card-block">
                            <a href="Slippy_preview.png" class="btn btn-primary btn-block" download><i class="fa fa-eye"></i> Download</a>
                        </div>
                    </article>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <article class="card">
                        <header class="title-header">
                            <h3>My Eat Schedule</h3>
                        </header>
                        <div class="card-block">
                            <a href="Slippy_preview.png" class="btn btn-primary btn-block" download><i class="fa fa-eye"></i> Download</a>
                        </div>
                    </article>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <article class="card">
                        <header class="title-header">
                            <h3>My Poop Schedule</h3>
                        </header>
                        <div class="card-block">
                            <a href="Slippy_preview.png" class="btn btn-primary btn-block" download><i class="fa fa-eye"></i> Download</a>
                        </div>
                    </article>
                </div>
                <!--_______________________________________-->
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <article class="card">
                        <header class="title-header">
                            <h3>My Walk Schedule</h3>
                        </header>
                        <div class="card-block">
                            <a href="Slippy_preview.png" class="btn btn-primary btn-block" download><i class="fa fa-eye"></i> Download</a>
                        </div>
                    </article>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <article class="card">
                        <header class="title-header">
                            <h3>My Sleep Schedule</h3>
                        </header>
                        <div class="card-block">
                            <a href="Slippy_preview.png" class="btn btn-primary btn-block" download><i class="fa fa-eye"></i> Download</a>
                        </div>
                    </article>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <article class="card">
                        <header class="title-header">
                            <h3>My Eat Schedule</h3>
                        </header>
                        <div class="card-block">
                            <a href="Slippy_preview.png" class="btn btn-primary btn-block" download><i class="fa fa-eye"></i> Download</a>
                        </div>
                    </article>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <article class="card">
                        <header class="title-header">
                            <h3>My Poop Schedule</h3>
                        </header>
                        <div class="card-block">
                            <a href="Slippy_preview.png" class="btn btn-primary btn-block" download><i class="fa fa-eye"></i> Download</a>
                        </div>
                    </article>
                </div>
                <!--_______________________________________-->
            </div>
        </section>